<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>书城</title>
    <!-- 引入css样式表，和js -->
    <%- include('template/css_and_js') %>
</head>
<body>
    <div id="app">
        <!-- 头部 -->
        <div class="jumbotron text-center" style="margin-bottom: 0;">
            <h1>二手书城</h1>
            <p>放心交易</p>
        </div>
        <!-- 导航栏 -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">导航</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Search">
                    <button class="btn btn-success" type="button">Search</button>
                </form>
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#">搜索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">分类</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">我要卖书</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">我的</a>
                        <!-- Todo: 我的 标签页 -->
                        <div class="dropdown-menu">
                            <a class="dropdown-item button" :class="{display_hide:state.isLogin}" data-toggle="modal" data-target="#registerModal">注册</a>
                            <a class="dropdown-item button" id="loginButton" :class="{display_hide:state.isLogin}" data-toggle="modal" data-target="#loginModal">登录</a>
                            <a class="dropdown-item" :class="{display_hide:!state.isLogin}" href="#">我的摊位</a>
                            <a class="dropdown-item" :class="{display_hide:!state.isLogin}" href="#">购物车</a>
                            <a class="dropdown-item" :class="{display_hide:!state.isLogin}" href="/memberInfo">个人信息</a>
                            <a class="dropdown-item button" :class="{display_hide:!state.isLogin}" @click="logout()">退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 登录/注册模态框 -->
        <%- include('template/register_modal.ejs') %>
        <%- include('template/login_modal.ejs') %>

        <!-- 主体 -->
        <div class="container">
            <!-- Todo: 猜你喜欢 -->
            <div class="row">

            </div>
            <!-- Todo: 全部商品 -->
            <div class="row">

            </div>
        </div>
        <!-- 底部 -->
        <div class="jumbotron text-center" style="margin-bottom: 0;">
            <p>底部内容</p>
        </div>
    </div>
</body>
<!-- 引入 vue 代码 -->
<%- include('template/home_vue_axios.ejs') %>
</html>
