<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>书城登录</title>
    <!-- 引入css样式表，和js -->
    <%- include('template/css_and_js') %>
</head>
<body>
    <div class="jumbotron text-center">
        <h1></h1>
    </div>
    <div id="app" class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="member/login" method="POST">
                        <div class="form-group">
                            <label for="username">用户名:</label>
                            <input type="text" id="username" class="form-control" placeholder="用户名" aria-describedby="username_helpId">
                            <small id="username_helpId" class="text-muted">用户名登录，用户名一但确定，不可更改</small>
                        </div>
                        <div class="form-group">
                            <label for="password">密码:</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="密码" aria-describedby="password_helpId">
                            <small id="password_helpId" class="text-muted">用户登录密码</small>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="reset" class="btn btn-primary">重置</button>
                            </div>
                            <div class="col"></div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <!-- 引入 vue 代码 -->
    <%- include('template/login.ejs') %>
</body>
</html>
