<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人中心</title>
    <!-- 引入css样式表，和js -->
    <%- include('template/css_and_js') %>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.19.2/dist/axios.js"></script>
    <script src="/js/config.js"></script>
</head>
<body>
    <div>
        <div class="container">
            <div id="item" class="row">
                <!-- 左侧条目栏 -->
                <div id="left" class="col-2" style="visibility: hidden;">
                    <div class="left_item" @click="loadTabs('infoInner')">个人资料</div>
                    <div class="left_item" @click="loadTabs('balanceInner')">我的钱包</div>
                </div>
                <!-- 右侧对应栏目 -->
                <div id="item_tab" class="col-10">

                </div>
            </div>
        </div>
        <%- include('template/foot.ejs') %>
    </div>
</body>
<%- include('template/member_info_vue_axios.ejs') %>
</html>
