<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人中心</title>
    <!-- 引入css样式表，和js -->
    <%- include('template/css_and_js') %>
</head>
<body>
    <div id="app">
        <div class="container">
            <div id="item" class="row">
                <!-- 左侧条目栏 -->
                <div class="col-2">
                    <div class="left_item" @click="loadTabs('info')">个人资料</div>
                    <div class="left_item" @click="loadTabs('balance')">我的钱包</div>
                </div>
                <!-- 右侧对应栏目 -->
                <div id="item_tab" class="col-10">

                </div>
            </div>
        </div>
        <!-- 底部 -->
        <div class="jumbotron text-center" style="margin-bottom: 0;">
            <p>底部内容</p>
        </div>
    </div>
</body>
<%- include('template/member_info_vue_axios.ejs') %>
</html>
