<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我要卖书</title>
    <!-- 引入css样式表，和js -->
    <%- include('template/css_and_js') %>
  </head>
  <body>
    <div id="app">
      <!-- 头部 -->
      <div class="jumbotron text-center" style="margin-bottom: 0;">
        <h1>二手书城</h1>
        <p>放心交易</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col"></div>
          <div class="col-sm-6 clearfix">
            <div class="form-group float-left" style="width: 250px;">
              <input
                type="text"
                class="form-control"
                name="searchText"
                placeholder="输入书名或ISBN寻找书籍"
                v-model="searchText"
              />
            </div>
            <div class="form-group float-left" style="margin-left: 20px;">
              <input
                type="button"
                class="btn btn-light"
                value="查找"
                @click="queryBook()"
              />
            </div>
          </div>
          <div class="col"></div>
        </div>
        <!-- tag: v-for 渲染卖书时 搜索的书籍 -->
        <div v-if="!isbnSearchFlag && searchBooks.length">
          <div class="row" v-for="n in rows">
            <div class="col" v-for="book in eachRowBooks(n)">
              <div class="book_item" @click="query(book.isbn)">
                <img :src="book.pic" alt="" height="120px" width="120px" />
              </div>
              <label>ISBN: {{ book.isbn }}</label>
            </div>
          </div>
          <!-- 剩余书籍 -->
          <div class="row" v-if="remain.length">
            <div class="col" v-for="book in remain">
              <div class="book_item" @click="query(book.isbn)">
                <img :src="book.pic" alt="" height="120px" width="120px" />
              </div>
              <label>ISBN: {{ book.isbn }}</label>
            </div>
          </div>
          <!-- Todo: 搜索分页按钮 -->
          <div class="clearfix" v-if="searchBooks.length > 0">
            <div class="float-right">
              <!-- 上十页 -->
              <div
                class="float-left"
                style="border:3px solid #000;width: 32px; height: 32px;"
                v-if="curPage > 10"
                class="page_item"
                @click="changePage(curPage - 10)"
              >
              <img src="/icons/double-left.svg">
              </div>
              <!-- 上一页 -->
              <div
                class="float-left"
                style="border:3px solid #000;width: 32px; height: 32px;"
                v-if="curPage > 1"
                class="page_item"
                @click="changePage(curPage - 1)"
              >
              <img src="/icons/single-left.svg">
              </div>
              <!-- 下一页 -->
              <div
                class="float-left"
                style="border:3px solid #000;width: 32px; height: 32px;"
                v-if="curPage < totalPage"
                class="page_item"
                @click="changePage(curPage + 1)"
              >
              <img src="/icons/single-right.svg">
              </div>
              <!-- 下十页 -->
              <div
                class="float-left"
                style="border:3px solid #000;width: 32px; height: 32px;"
                v-if="curPage < totalPage - 9"
                class="page_item"
                @click="changePage(curPage + 10)"
              >
              <img src="/icons/double-right.svg">
              </div>
              <!-- 跳转页码 -->
              <div
                class="page_item float-right"
                style="border:3px solid #000;width: 86px; height: 32px;"
              >
                <input
                  type="text"
                  name="page"
                  v-model="curPage"
                  style="width: 32px;"
                /><input
                  type="button"
                  value="跳转"
                  @click="changePage(curPage)"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- note: ISBN 搜索到的书籍渲染 -->
        <div v-if="isbnSearchFlag && !objIsEmpty(book)">
          <div class="row">
            <div class="col">
              <div class="book_item" style="width: 240px; height: 240px;">
                <img
                  :src="book.pic"
                  :alt="book.summary"
                  height="240px"
                  width="240px"
                />
              </div>
              <div>书籍名称:&nbsp;&nbsp;{{ book.title }}</div>
              <div>出版社:&nbsp;&nbsp;{{ book.publisher }}</div>
              <div>出版时间:&nbsp;&nbsp;{{ book.pubdate }}</div>
              <div>书籍页数;&nbsp;&nbsp;{{ book.page }}</div>
              <div>书籍定价: &nbsp;&nbsp;{{ book.price }}元</div>
            </div>
            <div class="col">
              <!-- Todo: 返回按钮 -->
              <div v-if="searchBooks.length" @click="showResults()">
                <label style="background-color: #f0f8ff;">返回</label>
              </div>
              <div>
                <p>
                  注: 此处提交的卖书请求，需在<font color="#EEB422"
                    >我的摊位</font
                  >中提交信息才可上架
                </p>
              </div>
              <div><label>我的定价:</label></div>
              <div class="clearfix">
                <div class="form-group float-left" style="width: 250px;">
                  <input
                    class="form-control"
                    type="text"
                    name="myPrice"
                    v-model="myPrice"
                  />
                </div>
                <div class="form-group float-left">
                  <input
                    class="btn btn-light"
                    type="button"
                    value="卖出书籍"
                    @click="sell()"
                  />
                </div>
                <div class="float-right" style="color: red;">
                  {{ alertText }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('template/foot.ejs') %>
  </body>
  <!-- 引入 vue 代码 -->
  <%- include('template/sell_book_vue_axios.ejs') %>
</html>
