html, body {
    height: 100%;
}

.display_hide{
    display: none;
}

.message_hide {
    display: none;
}

.left_item {
    background-color: beige;
    height: 50px;
    text-align: center;
}

.info_item {
    height: 50px;
    text-align: left;
}

#infoTab>div>div>div>input {
    background: none;
    border: 0px;
    outline: none;
}
/*
.info_input {
} */
