<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 开启annotation配置 -->
    <context:annotation-config/>
    <!--    设置扫描目录-->
    <context:component-scan base-package="cn.cslg.controller"/>
    <context:component-scan base-package="cn.cslg.dao"/>
    <context:component-scan base-package="cn.cslg.service"/>
    <context:component-scan base-package="cn.cslg.model"/>
    <context:annotation-config/>



    <!-- begin hibernate 配置 事务管理 -->
    <!-- hibernate 配置 -->
    <import resource="spring-hibernate.xml"/>
    <!-- 事务管理 txManager, Hibernate的事务管理类 -->
    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 利用AOP方式给方法加上事务管理 -->
    <aop:config proxy-target-class="true">
        <!-- service包中所有add开头的方法 -->
        <aop:pointcut id="txServiceAdd" expression="execution(public * cn.cslg.service..*.add*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txServiceAdd"/>
    </aop:config>
    <!-- 具体哪些方法需要加上事务管理 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="add"/>
        </tx:attributes>
    </tx:advice>
    <!-- 注解方式事务管理 -->
    <tx:annotation-driven transaction-manager="txManager" proxy-target-class="false"/>
    <!-- end hibernate -->

</beans>