<!-- 主页用户管理显示 -->
<div v-show="showState.showMember" style="margin-top: 10px;">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th align="center">选择</th>
          <th align="center">编号</th>
          <th align="center">头像</th>
          <th align="center">用户名</th>
          <th align="center">昵称</th>
          <th align="center">性别</th>
          <th align="center">生日</th>
          <th align="center">城市</th>
          <th align="center">职业</th>
          <th align="center">启用状态</th>
        </tr>
        <tr
          :class="[{stripe_antiquewhite:isOdd(index)}, {stripe_bisque: !isOdd(index)}]"
          v-for="(member, index) of members"
        >
          <td>
            <div>
              <input
                type="checkbox"
                class="form-check-input"
                v-model="checkedMembers"
                :value="member"
              />
            </div>
          </td>
          <!-- 用户编号 -->
          <td>
            <div>
              <span >{{ member.id }}</span>
            </div>
          </td>
          <!-- 头像 -->
          <td>
            <div v-if="member.hasOwnProperty('icon')">
              <img :src="member.icon" width="32px" height="32px" />
            </div>
          </td>
          <!-- 用户名 -->
          <td>
            <div>
              <span >{{ member.username }}</span>
            </div>
          </td>
          <!-- 昵称 -->
          <td>
            <div>
              <span
                v-if="member.hasOwnProperty('nickname')"
                >{{ member.nickname }}</span
              >
            </div>
          </td>
          <!-- 性别 -->
          <td>
            <div>
              <span v-if="member.gender === 1">男</span>
              <span v-else-if="member.gender === 2">女</span>
              <span v-else>未知</span>
            </div>
          </td>
          <!-- 生日 -->
          <td>
            <div>
              <span v-if="member.hasOwnProperty('birthday')">{{
                member.birthday
              }}</span>
            </div>
          </td>
          <!-- 城市 -->
          <td>
            <div>
              <span v-if="member.hasOwnProperty('city')">{{
                member.city
              }}</span>
            </div>
          </td>
          <!-- 职业 -->
          <td>
            <div>
              <span v-if="member.hasOwnProperty('job')">{{ member.job }}</span>
            </div>
          </td>
          <!-- 启用状态 -->
          <td>
            <div>
              <span
                v-if="member.hasOwnProperty('status') && member.status === 0"
                >未启用</span
              >
              <span v-else>已启用</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col">
      <input
        class="btn btn-danger"
        type="button"
        value="删除"
        @click="deleteCheckedMembers"
      />
    </div>
    <div class="col"></div>
  </div>

  <!-- note: 搜索分页按钮 -->
  <div class="clearfix" v-if="members.length > 0">
    <div class="float-right">
      <!-- 上十页 -->
      <div
        class="float-left"
        style="border: 3px solid #000; width: 32px; height: 32px;"
        class="page_item"
        @click="getOtherPageMembers(curPage - 10)"
      >
        <img src="/icons/double-left.svg" />
      </div>
      <!-- 上一页 -->
      <div
        class="float-left"
        style="border: 3px solid #000; width: 32px; height: 32px;"
        class="page_item"
        @click="getOtherPageMembers(curPage - 1)"
      >
        <img src="/icons/single-left.svg" />
      </div>
      <!-- 下一页 -->
      <div
        class="float-left"
        style="border: 3px solid #000; width: 32px; height: 32px;"
        class="page_item"
        @click="getOtherPageMembers(curPage + 1)"
      >
        <img src="/icons/single-right.svg" />
      </div>
      <!-- 下十页 -->
      <div
        class="float-left"
        style="border: 3px solid #000; width: 32px; height: 32px;"
        class="page_item"
        @click="getOtherPageMembers(curPage + 10)"
      >
        <img src="/icons/double-right.svg" />
      </div>
    </div>
  </div>
</div>
