<!-- 主页订单管理显示 -->
<div v-show="showState.showOrder" style="margin-top: 10px;">
  <div class="row">
    <div class="col">
      <table style="width: 80%;">
        <tr>
          <th></th>
          <th>编号</th>
          <th>头像</th>
          <th>用户名</th>
          <th>昵称</th>
          <th>性别</th>
          <th>生日</th>
          <th>城市</th>
          <th>职业</th>
          <th>启用状态</th>
        </tr>
        <tr
          :class="[{stripe_antiquewhite:isOdd(index)}, {stripe_bisque: !isOdd(index)}]"
          style="margin-top: 5px;"
          v-for="(order, index) of orders"
        >
          <td>
            <div>
              <input
                type="checkbox"
                class="form-check-input"
                v-model="checkedOrders"
                :value="order"
              />
            </div>
          </td>
          <!-- 用户编号 -->
          <td>
            <div class="no_margin_padding">
              <span style="margin-left: 2px;">{{ order.id }}</span>
            </div>
          </td>
          <!-- 头像 -->
          <td>
            <div class="no_margin_padding" v-if="order.hasOwnProperty('icon')">
              <img :src="order.icon" width="32px" height="32px" />
            </div>
          </td>
          <!-- 用户名 -->
          <td>
            <div class="no_margin_padding">
              <span style="margin-left: 2px;">{{ order.username }}</span>
            </div>
          </td>
          <!-- 昵称 -->
          <td>
            <div class="no_margin_padding">
              <span
                style="margin-left: 2px;"
                v-if="order.hasOwnProperty('nickname')"
                >{{ order.nickname }}</span
              >
            </div>
          </td>
          <!-- 性别 -->
          <td>
            <div class="no_margin_padding">
              <span v-if="order.gender === 1">男</span>
              <span v-else-if="order.gender === 2">女</span>
              <span v-else>未知</span>
            </div>
          </td>
          <!-- 生日 -->
          <td>
            <div class="no_margin_padding">
              <span v-if="order.hasOwnProperty('birthday')">{{
                order.birthday
              }}</span>
            </div>
          </td>
          <!-- 城市 -->
          <td>
            <div class="no_margin_padding">
              <span v-if="order.hasOwnProperty('city')">{{
                order.city
              }}</span>
            </div>
          </td>
          <!-- 职业 -->
          <td>
            <div class="no_margin_padding">
              <span v-if="order.hasOwnProperty('job')">{{ order.job }}</span>
            </div>
          </td>
          <!-- 启用状态 -->
          <td>
            <div class="no_margin_padding">
              <span
                v-if="order.hasOwnProperty('status') && order.status === 0"
                >未启用</span
              >
              <span v-else>已启用</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col">
      <input
        class="btn btn-danger"
        type="button"
        value="删除"
        @click="deleteCheckedMembers"
      />
    </div>
    <div class="col"></div>
  </div>

  <!-- note: 搜索分页按钮 -->
  <div class="clearfix" v-if="orders.length > 0">
    <div class="float-right">
      <!-- 上十页 -->
      <div
        class="float-left"
        style="border: 3px solid #000; width: 32px; height: 32px;"
        class="page_item"
        @click="getOtherPageMembers(curPage - 10)"
      >
        <img src="/icons/double-left.svg" />
      </div>
      <!-- 上一页 -->
      <div
        class="float-left"
        style="border: 3px solid #000; width: 32px; height: 32px;"
        class="page_item"
        @click="getOtherPageMembers(curPage - 1)"
      >
        <img src="/icons/single-left.svg" />
      </div>
      <!-- 下一页 -->
      <div
        class="float-left"
        style="border: 3px solid #000; width: 32px; height: 32px;"
        class="page_item"
        @click="getOtherPageMembers(curPage + 1)"
      >
        <img src="/icons/single-right.svg" />
      </div>
      <!-- 下十页 -->
      <div
        class="float-left"
        style="border: 3px solid #000; width: 32px; height: 32px;"
        class="page_item"
        @click="getOtherPageMembers(curPage + 10)"
      >
        <img src="/icons/double-right.svg" />
      </div>
    </div>
  </div>
</div>
