<!-- 修改头像模态框 -->
<div class="modal fade" id="headModal">
  <div class="modal-dialog">
    <form action="memberInfo/headUpdate" method="POST">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">头像上传</h4>
          <div
            class="alert alert-dismissible"
            :class="[{message_hide:!state.isMsgShow}, alertBox.alertStyle]"
          >
            <button type="button" class="close" @click="hideAlert">
              &times;
            </button>
            <strong>{{ alertBox.messageState }}</strong> {{ alertBox.messageInfo
            }}
          </div>
        </div>
        <!-- 模态框主体 -->
        <div class="modal-body">
          <input
            id="headUpdateInput"
            name="file"
            type="file"
            accept="image/png,image/gif,image/jpeg"
          />
        </div>
        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button
            type="button"
            id="login_close_btn"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            关闭
          </button>
          <button type="reset" class="btn btn-primary">重置</button>
          <button type="button" class="btn btn-primary" @click="headUpdate()">
            提交
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
